/*Clases*/
:host {
    display: block;
    margin-top: 10px;
    border: 2px solid #007bff;
    background-color: #f2faff;

}

.stock-low {
    background-color: rgb(255, 131, 131);
    border: 4px solid red;
}

/*Clase por etiqueta*/
h2 {
    color: #007bff;
}

p {
    color: #666;
}

button {
    padding: 5px 15px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 300ms ease;
}

button:hover {
    background-color: #0056b3;
}

/*Clases definidas dentro de los bloques de código html que se quieren afectar especificamente*/
.product-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-details {
    flex: 1;
}